<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<style>
body {
	background-image: url("company23.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.header {
	color: white;
}

p {
color: white;
}
</style>

<title>Update Company</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header">
		<h1>Update Company</h1>
	</div>

	<p>Enter the fields you want to update:</p>

	<form>
		<div class="container"></div>
		<div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-user"></i>
			</span> 
			<input data-ng-model="d.company.id" id="id" type="text" class="form-control" name="id" placeholder="Id">
		</div>

		<div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-user"></i>
			</span> 
			<input data-ng-model="d.company.compName" id="compname" type="text" class="form-control" name="compName" placeholder="Company Name">
		</div>

		<div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-lock"></i>
			</span> 
			<input data-ng-model="d.company.password" id="password" type="text" class="form-control" name="password" placeholder="Password">
		</div>

		<div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-user"></i>
			</span> 
			<input data-ng-model="d.company.email" id="email" type="text" class="form-control" name="email" placeholder="Email">
		</div>
		<br>

		<button data-ng-click="d.updateCompany()" class="w3-btn w3-light-grey w3-ripple" data-ng-disabled="error || incomplete">&#10004; Update Company</button>

	</form>
</body>
</html>

