<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<style>

body {
	background-image: url("wall02.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}


.header {
	color: white;
}

p {
	color: white;
}

</style>
<title>Delete Coupon</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="header">
		<h1>Delete Coupon</h1>
	</div>
	<p>To Delete a Coupon you should fill in Coupon id:</p>

	<form>
		<div class="container"></div>
		<div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-pencil"></i>
			</span> 
			<input data-ng-model="c.coupon.id" id="id" type="text" class="form-control" name="id" placeholder="Id" required="required">
		</div>
		<br>
		
		<button data-ng-click="c.deleteCoupon()" class="w3-btn w3-light-grey w3-ripple" data-ng-disabled="error || incomplete">&#10004; Delete Coupon</button>

	</form>
</body>
</html>

