<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<style>

body {
	background-image: url("img12.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.header {
color: white;
}

p {
color: white; 
}

.img {
	margin: 1px;
	border: 1px solid #ccc;
	float: left;
	width: 50px;
}
</style>
<title>Get Coupon By Type</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

   <div class="header">
	<h1>Get Coupons By Type</h1>
	</div>
	
	<p>To Get a Coupon by type you should fill in Coupon Type:</p>

	<form>
		<div class="container">
			<div class="input-group">
				<span class="input-group-addon">
				<i class="glyphicon glyphicon-user"></i>
				</span> 
				<input data-ng-model="g.couponsByType.type" id="type" type="text" class="form-control" name="type" placeholder="type" required="required">
			</div>
			<br>
			
			<button data-ng-click="g.getAllCoupType()" class="w3-btn w3-light-grey w3-ripple" data-ng-disabled="error || incomplete">&#10004; Get Coupons</button>
		</div>
	</form>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Amount</th>
				<th>Type</th>
				<th>Message</th>
				<th>Price</th>
				<th>image</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="c in g.couponsByType">
				<td>{{ c.id }}</td>
				<td>{{ c.title }}</td>
				<td>{{ c.startDate }}</td>
				<td>{{ c.endDate }}</td>
				<td>{{ c.amount }}</td>
				<td>{{ c.type }}</td>
				<td>{{ c.message }}</td>
				<td>{{ c.price }}</td>
				<td><img class="img" id="load" data-ng-src="{{c.image}}"></td>
			
				<td>
					<button class="btn" onClick="location.href='http://localhost:8080/webcouponsystem/Company/companyMain.html#/updatecoupon'">
						<span class="glyphicon glyphicon-pencil"></span> Edit </button>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>

